<% provide :title, "About" %>

<div id="about-container">
  <h3>ABOUT US</h3>

  <p>
    The Yeti or Abominable Snowman is said to be an ape-like cryptid taller than an average human, that inhabits the Himalayan region of Nepal and Tibet.[2][3] The names Yeti and Meh-Teh are commonly used by the people indigenous to the region,[4] and are part of their history and mythology. Stories of the Yeti first emerged as a facet of Western popular culture in the 19th century.
  </p>

  <p>
    The Yeti or Abominable Snowman is said to be an ape-like cryptid taller than an average human, that inhabits the Himalayan region of Nepal and Tibet.[2][3] The names Yeti and Meh-Teh are commonly used by the people indigenous to the region,[4] and are part of their history and mythology. Stories of the Yeti first emerged as a facet of Western popular culture in the 19th century. 
  </p>
</div>