<% provide :title, "Downloads" %>

<section id="download-container">
  <h3>DOWNLOAD</h3>

  <table>
    <thead>
      <tr>
        <th width="600">NAME</th>
        <th width="200">LANGUAGE</th>
        <th width="200">LINK</th>
      </tr>
    </thead>
    <tbody>
      <% @documents.each do |doc| %>
      <tr>
        <td><%= doc.name %></td>
        <td><%= doc.name %></td>
        <td><%= link_to "download", doc.doc_url, class: "link-underline" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>