<% provide :title, "Downloads" %>

<div class="row">
  <h4>DOWNLOAD</h4>

  <table>
    <thead>
      <tr>
        <th width="600">NAME</th>
        <th width="200">LANGUAGE</th>
        <th width="200">LINK</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Content Goes Here</td>
        <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
        <td>Content Goes Here</td>
      </tr>
      <tr>
        <td>Content Goes Here</td>
        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
        <td>Content Goes Here</td>
      </tr>
      <tr>
        <td>Content Goes Here</td>
        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
        <td>Content Goes Here</td>
      </tr>
    </tbody>
  </table>

</div>