// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#index-articles {
  font-family: 'pt_sansregular';
  width: 1000px;
  margin: 0px auto;
  padding: 30px 0;
  h3 {
    font-weight: bold;
    color: #2BA6CB
  }
}

#index-articles-inner {
  .index-article-item {
    width:1000px;
    height:160px;
    padding: 25px 25px 25px 0;
    .index-article-photo {
      float: left;
      padding-right: 10px;
      width:120px;
      img {
        width:110px;
        height: 110px;
      }
    }
    .index-article-description {
      float: right;
      width: 850px;
      padding-left:10px;
      height: 110px;      
      .index-article-date{
        color:#8f8f8f;
      }
      .index-article-title{
        margin-top: 5px;
        line-height: 90%;
        a {
        text-decoration: underline;
        }
      }
      .index-article-content{
        margin-top: 5px;
        line-height: 90%;
      }
    }
  }
  #index-articles-paginator {
    width:1000px;
    text-align: right;
  }
}

#show-article {
  font-family: 'pt_sansregular';
  width: 1000px;
  margin: 0px auto;
  padding: 30px 0;
  h3 {
    margin: 0px;
    font-weight: bold;
    color: #53BFF9;
  }
}

#show-article-inner {
  #show-article-title{
    width:1000px;
    font-size: 20px;
    color: #00397a;
    display: block;
    padding: 15px 0;
  }
  #show-article-photo{
    float: left;
    width:260px;
    padding-right:10px;
    img {
      width:250px;
      height: 250px;
    }
  }
  #show-article-content{
    float: right;
    width: 740px;
    padding-left:10px;
  }
} 