#cssmenu ul, #cssmenu li, #cssmenu span
  #cssmenu a {
    margin: 0;
    padding: 0;
    position: relative;
}

#cssmenu:after,
  #cssmenu ul:after {
    content: '';
    display: block;
    clear: both;
}

#cssmenu {
  background: #fff;
  width: 1060px;
  height: 52px;
  padding: 0 60px;
}

#cssmenu a {
  display: inline-block;
  font-family: 'pt_sans_narrowregular', Helvetica, Arial, Verdana, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
}

#cssmenu ul {
  list-style: none;
}

#cssmenu > ul > li {
  float: left;
  height: 100%
}

#cssmenu > ul > li a {
    color: #1caaed;
}

#cssmenu > ul > li:first-child a {
  padding: 10px 72px 10px 0;
}

#cssmenu > ul > li:last-child a {
  padding: 10px 0 10px 72px;
}

#cssmenu > ul > li a {
  line-height: 34px;
  padding: 10px 72px;
  filter: none;
}

#cssmenu > ul > li a:hover {
  text-decoration: none;
}

#cssmenu .has-sub {
  display: block;
  background-image: url("down_arrow.png");
  background-repeat: no-repeat;
  background-position: 85% center;
}

#cssmenu .has-sub:hover {
  display: block;
  background-image: url("up_arrow.png");
  background-repeat: no-repeat;
  background-position: 85% center;
  background-color: #076b9e;
}

#cssmenu .has-sub:hover a {
  color: #fff;
}

#cssmenu .has-sub:hover ul {
  display: block;
  padding: 10px 0;
  background: #055787;
  background: -moz-linear-gradient(top, #055787 0%, #076b9e 50%, #076b9e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#055787), color-stop(50%,#076b9e), color-stop(100%,#076b9e));
  background: -webkit-linear-gradient(top, #055787 0%,#076b9e 50%,#076b9e 100%);
  background: -o-linear-gradient(top, #055787 0%,#076b9e 50%,#076b9e 100%);
  background: -ms-linear-gradient(top, #055787 0%,#076b9e 50%,#076b9e 100%);
  background: linear-gradient(to bottom, #055787 0%,#076b9e 50%,#076b9e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#055787', endColorstr='#076b9e',GradientType=0 );
}

#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  top: 52px;
  left: 0px;
  min-width: 100%;
  text-align: left;
  /* IE7 */

  *width: 100%;
}

#cssmenu .has-sub a:hover {
  color: #fff;
}

#cssmenu .has-sub ul li {
  text-align: left;
}

#cssmenu .has-sub ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  border-top: 0 none;
  display: block;
  line-height: 130%;
  padding: 10px 15px;
  text-align: left;
}
