// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-container {
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #00A3EF 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #00A3EF 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #00A3EF 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #00A3EF 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to top, #FFFFFF 0%, #00A3EF 100%);
}

#main-categories {
  width:985px;
  margin: 0 37.5px 37.5px 37.5px;
  .categories-main-slogan {
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    color: #53BFF9;
    font-weight: bold;
  }
}

.category-item {
  width: 325px;
  height: 287px;
  display: inline-block;
  .category-item-image img {
    width: 325px;
    height: 210px;
  }
  #category-item-name-17 {
    width:325px;
    height: 60px;
    text-align: center;
    background-color: #4dc4f9;

    .category-item-name-title {
      padding: 20px 0px;
      height:20px; 
      a {
        color:white;
        font-weight: bold;
      }
    }  
  }

  #category-item-name-18 {
    width:325px;
    height: 60px;
    text-align: center;
    background-color: #0ae2da;

    .category-item-name-title {
      padding: 20px 0px;
      height:20px; 
      a {
        color:white;
        font-weight: bold;
      }
    }  
  }

  #category-item-name-19 {
    width:325px;
    height: 60px;
    text-align: center;
    background-color: #4dea84;

    .category-item-name-title {
      padding: 20px 0px;
      height:20px; 
      a {
        color:white;
        font-weight: bold;
      }
    }  
  }
}

#main-news-products-container {
  width:1022.5px;
  margin: 0 0px 30px 0px;

  #main-news {
    padding-left: 37.5px;
    background-color: #f7f7f7;
    float:left;
    width:362.5px;
    height: 650px;
    .news-main-slogan {
      font-size: 20px;
      padding-top: 20px;
      margin-bottom: 20px;
      color: #53BFF9;
      font-weight: bold;      
    }
  }
  #main-products {
    float:right;
    width:660px;
    height: 650px;
    .products-main-slogan {
      font-size: 20px;
      padding-top: 20px;
      padding-left: 40px;
      margin-bottom: 20px;
      color: #53BFF9;
      font-weight: bold;
    }
  }  
}

#main-inner-news-container {
  .main-news-item {
    height:140px; 

    .main-news-item-photo{
      float:left;
      padding: 10px 10px 10px 0px;
      img {
        width: 110px;
        height: 110px;        
      }
    }

    .main-news-item-desc{
      float: right;
      padding: 10px 10px 10px 10px;
      height: 130px;
      width: 205px;
      .news-item-date{
        margin: 0px;
        font-size: 12px;
        color: #818181;
      }
      .news-item-title{        
        line-height:90%;
        margin: 0px 0px 8px 0px;
        a {
          text-decoration: underline;
          font-size: 13px;                              
        }
      }
      .news-item-desc{
        margin: 0;
        line-height:100%;
        font-size: 11px;
        color: #878787;
      }
    }
  }
}

#main-inner-products-container {
  padding-left:40px;
  width:660px;
  height:170px;

  .main-products-item {
    height:170px;
    border-bottom: 1px solid #f0f0f0;
    .main-products-item-photo {
      float:left;
      padding: 10px 10px 10px 0px;      
      img {
        width: 200px;
        height: 150px;        
      }
    }
    .main-products-item-desc {
      float: right;
      padding: 10px 10px 10px 10px;
      height: 170px;
      width: 410px;
      .products-item-name{
        margin: 0;
        color: #007699;
        a {
          text-decoration: underline;
        }
      }
      .products-item-desc{
        margin: 0;
        font-size: 14px;
        color: #878787;
      }
    }
  }
}

#download {
  #main-download-container {
    width: 76%;
    margin: 0 12% 20px 12%;
    height: 173px;
    padding:20px;
    .download-item {
      display: inline-block;
      width:49%;
      height:134px;
      text-align:center;
      .download-image-title {
        table {
          background-color: #2097db;
          a {
            color: white;
            text-decoration: underline;
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

#about-container {
  width:1000px;
  margin: 0px auto;
  padding: 30px 0px;
  h3 {
    font-weight: bold;
    color: #53BFF9;
  }
}

#contact-container {
  width:1000px;
  margin: 0px auto;
  padding: 30px 0px;
  h3 {
    font-weight: bold ;
    color: #53BFF9;
  }
  #contact-map {
    float:left;
    width:490px;
    padding:20px;
  }
  #contact-details {
    float:right;
    width:510px;
    text-align:left;
    padding:20px;
    #contact-company-title {
      font-size:20px;
      font-weight: bold;
    }
  }
}

.link-underline {
  text-decoration: underline;
}

#download-container {
  width:1000px;
  margin: 0px auto;
  padding: 30px 0px;
  h3 {
    font-weight: bold ;
    color: #53BFF9;
  }
}