// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#show-product-container {
  width:1000px;
  margin: 0px auto;
  padding: 30px 0px;
  h3 {
    a {
      text-decoration: underline;
    }
  }
}

#show-product-inner {
  width:1000px;
  padding-top:20px;
  #show-product-inner-gallery {
    float:left;
    width:415px;
    padding: 20px;

    background-color: #b5e7fd;

    #show-product-main-photo {
      width: 415px;
      margin-bottom: 10px;
 
      img {
        width: 375px;
        height: 260px;
      }
    }

    .show-product-thumb-photos {
      display:inline;
      font-size:0;
      margin-right:5px;
        &:last-child {
          margin-right:0px;
        }
      img {
        width:71px;
        height:70px;
      }
    }
  }

  #show-product-inner-details {
    float:right;
    width:565px;
    p {
      margin:10px 0;
      color: #2BA6CB;
    }

    #show-product-title {
      font-size: 20px;
      margin-bottom:5px;
      color: #2BA6CB;
    }
    #show-product-desc {
    }
    #show-product-features {      
      p {
        color: black;
      }
      ul {
        padding-left:20px;
      }      
    }
    #show-product-download {}
  }  
}