<div class="row">
  <%= simple_form_for @category do |f| %>
    <%= render 'shared/error_message', object: f.object %>
    <%= f.input :name %>
    <%= f.submit "Save", :class => "button" %>
  <% end %>
</div>