<% provide :title, "All categories" %>

<section id="index-categories">

  <h3>WHAT WE OFFER</h3>

  <section id="index-categories-inner">
    <% @categories.each do |category| %>
      <section class="index-category-item">
        <% category.photos.each do |photo| %>
          <div class="index-category-photo"><%= image_tag photo.image_url(:cat_main_thumb).to_s %></div>
        <% end %>
        <div class="index-category-description">
          <div class="index-category-title"><%= link_to category.name.upcase, category_path(category) %></div>
          <div class="index-category-content"><%= category.description %></div>
        </div>
      </section>
    <% end %>
    <div id="cleaner">
  </section>
</section>