<p class="categories-main-slogan"><%= I18n.t(:what_we_offer) %></p>

<% @categories.each do |category| %>
  <div class="category-item">
    <div class="category-item-image">
      <% category.photos.each do |photo| %>
        <% if photo.file.exist? %>
          <%= image_tag photo.image_url(:cat_main_thumb).to_s %>
        <% else %>
          <%= image_tag "dummy_325x210.png" %>
        <% end %>
      <% end %>
    </div>
    <div id="category-item-name">
      <div class="category-item-name-title">
        <%= link_to category.name.upcase, category_path(category) %>
      </div>
    </div>
  </div>
<% end %>