<p class="categories-main-slogan">WHAT WE OFFER:</p>

<% @categories.each do |category| %>
  <div class="category-item">
    <div class="category-item-image">
      <% category.photos.each do |photo| %>
        <%= image_tag photo.image_url(:thumb).to_s %>
      <% end %>
    </div>
    <div class="category-item-name">  
      <%= link_to category.name.upcase, category_path(category) %>
    </div>
  </div>
<% end %>