<section id="central-box">
  <section id="central-text-container">
    <div id="central-top-text">
    	<h3>HELPING PATIENS FEEL CARE</h3>
    </div>
    <div id="central-bottom-text">
    	<h4>BY CARING ABOUT QUALITY</h4>
  </section>
</section>