<section id="download">
  <h2>DOWNLOAD OUR LAST CATALOGUES</h2>
  <section class="download-item">    
    <p>first item</p>    
  </section>
  <section class="download-item">    
    <p>first item</p>    
  </section>
</section>