<section id="download">
  <h3>DOWNLOAD OUR LAST CATALOGUES</h3>
  <section id="main-download-container">
    <section class="download-item">
      <section class="download-image-title">
        <%= image_tag "Download.png" %>
        first item
      </section>
    </section>
    <section class="download-item">
      <section class="download-image-title">
        <%= image_tag "Download.png" %>
        first item
      </section>
    </section>
  </section>
</section>