<section id="download">
  <h3>DOWNLOAD OUR LAST CATALOGUES</h3>
  <section id="main-download-container">

    <section class="download-item">
      <section class="download-image-title">
        <table>
          <tr>
            <td>
              <%= image_tag "download_icon_lp.png" %>
            </td> 
            <td>  
              <%= link_to "HSB Catalogue RU", root_url %>
            </td>
          </tr> 
        </table>
      </section>
    </section>
    
    <section class="download-item">
      <section class="download-image-title">
        <table>
          <tr>
            <td>
              <%= image_tag "download_icon_lp.png" %>
            </td> 
            <td>  
              <%= link_to "HSB Catalogue EN", root_url %>
            </td>
          </tr> 
        </table>
      </section>
    </section>
  </section>
</section>