<footer id="footer">
  <section id="footer-contact">
    Contact
  </section>
  <section id="footer-sitemap">
    Sitemap
  </section>
  <section id="footer-inforamtion">
    Information
  </section>
  <div id="cleaner"></div>
</footer>