<header id="header">
  <section id="header-logo">
    <%= link_to_unless_current (image_tag "logo_HBS.png"), root_url %>
  </section>
  <section id="header-contact">
    <h3>+420 111 222 333 </h3>
    <span><%= mail_to "info@sobaken.cz" %></span>
  </section>
</header>