<header id="header">
  <section id="header-logo">
    <p><%= image_tag "logo_HBS.png" %></p>
  </section>
  <section id="header-contact">
    <h3>+420 111 222 333 </h3>
    <p><%= mail_to "info@sobaken.cz" %></p>
  </section>
</header>