<section id="navigation">
  <section id="navigation-menu">
    <ul>
      <li>first</li>
      <li>second</li>
      <li>third</li>
      <li>fourth</li>
      <li>fifth</li>
    </ul>
  </section>
</section>