<p class="products-main-slogan"><%= I18n.t(:featured_products) %></p>

<section id="main-inner-products-container">
  <% @products.each do |product| %>
    <section class="main-products-item">
      <% product.photos.each do |photo| %>
        <% if photo.main?%>
          <div class="main-products-item-photo">            
            <%= image_tag photo.image_url(:prod_main_thumb).to_s %>    
          </div>
        <% end %>  
      <% end %>
      <div class="main-products-item-desc">
        <p class="products-item-name"><%= link_to product.name.upcase, product_path(product) %></p>
        <p class="products-item-desc"><%= product.annotation %></p>
      </div> 
    </section>
    <section id="cleaner"></section>   
  <% end %>
</section>