Featured products:

<section id="main-inner-products-container">
  <% @products.each do |product| %>
    <section class="main-products-item">
      <% product.photos.each do |photo| %>
        <div class="main-products-item-photo">
          <%= image_tag photo.image_url(:thumb).to_s %>
        </div> 
      <% end %>
      <div class="main-products-item-desc">
        <p class="products-item-name"><%= product.name %></p>
        <p class="products-item-desc"><%= product.name %></p>
      </div> 
    </section>
    <section id="cleaner"></section>   
  <% end %>
</section>